# Ignore model config files
/config/file

# Ignore __pycache__ directories
__pycache__/

# Ignore Python bytecode files
*.pyc
*.pyo

# Ignore unnecessary files
/result
/result_agg
/result_agg_1
/model/*
!/model/ucr_00_pretrain/

# Ignore log
nohup.out
log_*.txt
